/* * Style tweaks       * --------------------------------------------------       */
body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.vright {
  border-right: solid #E5E5E5 1px;
}

.sidebar-nav > ul > li > a {
  font-size: 20px;
}

.sidebar_a:hover {
  cursor: pointer;
}

.col-md-2 > .editLink  {
  text-decoration: none;
}